<div>
  <p class="display-4">
    GeoTrivia
  </p>

  <p class="lead">
    Enter a location below to play trivia based on people, places, and things around that location!
  </p>

  <form action="/insert_game" method="post">

    <div class="mb-3">
      <label for="location_box" class="form-label">Location</label>
      <input type="text" class="form-control w-50" id="location_box" aria-describedby="location" name="query_location" placeholder="Chicago, IL">
    </div>

    <div class="mb-3">
      <label for="search_radius_box" class="form-label">
        Search radius (miles)
      </label>

      <input type="text" class="form-control w-25" id="search_radius_box" aria-describedby="search_radius" name="query_search_radius" placeholder=5>
    </div>

    <div class="mb-3">
      <label for="number_of_questions_box" class="form-label">
        Number of questions
      </label>

      <input type="text" class="form-control w-25" id="number_of_questions_box" aria-describedby="search_radius" name="query_number_of_questions" placeholder="3">
    </div>

    <div>
      <label>Difficulty</label><br>
      <input type="radio" id="easy" name="query_difficulty" value="easy" checked class="form-check-input">
      <label for="easy">Easy</label><br>
      <input type="radio" id="medium" name="query_difficulty" value="medium" class="form-check-input">
      <label for="medium">Medium</label><br>
      <input type="radio" id="hard" name="query_difficulty" value="hard" class="form-check-input">
      <label for="hard">Hard</label><br>
      <br>
    </div>

    <button type="submit" class="btn btn-primary">
      Create Quiz
    </button>

  </form>
</div>

<hr>

<div>
  <h4>History</h4>

  <% if current_user %>

    <div>
      <table border="1">
        <tr>
          <th>
            Location
          </th>

          <th>
            Search radius
          </th>

          <th>
            Number of questions
          </th>

          <th>
            Score
          </th>

          <th>
            Difficulty
          </th>

          <th>
            Created
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_games.each do |a_game| %>
          <tr>
            <td>
              <%= a_game.location %>
            </td>

            <td>
              <%= a_game.search_radius %>
            </td>

            <td>
              <%= a_game.number_of_questions %>
            </td>

            <td>
              <%= ((a_game.correct_answers.to_f / a_game.number_of_questions)*100).round(1) %>%
            </td>

            <td>
              <%= a_game.difficulty %>
            </td>

            <td>
              <%= time_ago_in_words(a_game.created_at) %> ago
            </td>

            <td>
              <a href="/results/<%= a_game.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  <% else %>
    <p><a href="/users/sign_in/">Sign in</a> to see your previous games.</p>
  <% end %>

</div>
  <hr>
