<div>
  <h2>
    Create a game
  </h2>

  <p>
    Enter a location below to generate a quiz about people, places, and things around that location!
  </p>

  <form action="/insert_game" method="post">
    <div>
      <label for="location_box">
        Location
      </label>

      <input type="text" id="location_box" name="query_location" value="the university of chicago">
    </div>

    <div>
      <label for="search_radius_box">
        Search radius (miles)
      </label>

      <input type="text" id="search_radius_box" name="query_search_radius" value=150>
    </div>

    <div>
      <label for="number_of_questions_box">
        Number of questions
      </label>

      <input type="text" id="number_of_questions_box" name="query_number_of_questions" value=3>
    </div>

    <div>
      <p>Select a difficulty:</p>
      <input type="radio" id="easy" name="query_difficulty" value="easy" checked>
      <label for="easy">Easy</label><br>
      <input type="radio" id="medium" name="query_difficulty" value="medium">
      <label for="medium">Medium</label><br>
      <input type="radio" id="hard" name="query_difficulty" value="hard">
      <label for="hard">Hard</label><br>
      <br>  
    </div>

    <button>
      Create game
    </button>

  </form>
</div>

<hr>

<div>
  <h2>History</h2>

  <% if current_user %>

    <div>
      <table border="1">
        <tr>
          <th>
            Location
          </th>

          <th>
            Search radius
          </th>

          <th>
            Number of questions
          </th>

          <th>
            Score
          </th>

          <th>
            Difficulty
          </th>

          <th>
            Created
          </th>

          <th>
          </th>
        </tr>

        <% @list_of_games.each do |a_game| %>
          <tr>
            <td>
              <%= a_game.location %>
            </td>

            <td>
              <%= a_game.search_radius %>
            </td>

            <td>
              <%= a_game.number_of_questions %>
            </td>

            <td>
              <%= ((a_game.correct_answers.to_f / a_game.number_of_questions)*100).round(1) %>%
            </td>

            <td>
              <%= a_game.difficulty %>
            </td>

            <td>
              <%= time_ago_in_words(a_game.created_at) %> ago
            </td>

            <td>
              <a href="/results/<%= a_game.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

<% else %>
  <p><a href="/users/sign_in/">Sign in</a> to see your previous games.</p>
<% end %>

<hr>
