<p class="display-6 pt-3">
  Test your knowledge
</p>

<hr>
<form action="/score/<%= @the_game.id %>" method="post">
  <% @questions.each_with_index  do |question, index| %>
    <legend>Question <%= index + 1 %>: <%= question.challenge %></legend>
    <div class="form-check pb-4">
      

      <div>
        <div class="options">
          <input type="radio" id="option_<%= index %>a" name="answers[<%= question.id %>]" value="a" class="form-check-input">
          <label for="option_<%= index %>a">
            a. <%= question.option_a %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>b" name="answers[<%= question.id %>]" value="b" class="form-check-input">
          <label for="option_<%= index %>b">
            b. <%= question.option_b %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>c" name="answers[<%= question.id %>]" value="c" class="form-check-input">
          <label for="option_<%= index %>c">
            c. <%= question.option_c %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>d" name="answers[<%= question.id %>]" value="d" class="form-check-input">
          <label for="option_<%= index %>d">
            d. <%= question.option_d %>
          </label>
        </div>

      </div>
    </div>
  <% end %>

  <div>
    <button>
      Submit answers
    </button>
  </div>
</form>

<hr>

<h2>
  Game details
</h2>

<div>

  <div>
    <div>
      <a href="/games">
        Go back
      </a>
    </div>

    <div>
      <a href="/delete_game/<%= @the_game.id %>">
        Delete game
      </a>
    </div>
  </div>

  <dl>
    <dt>
      Latitude
    </dt>
    <dd>
      <%= @the_game.latitude %>
    </dd>

    <dt>
      Longitude
    </dt>
    <dd>
      <%= @the_game.longitude %>
    </dd>

    <dt>
      Search radius
    </dt>
    <dd>
      <%= @the_game.search_radius %>
    </dd>

    <dt>
      Number of questions
    </dt>
    <dd>
      <%= @the_game.number_of_questions %>
    </dd>

    <dt>
      Correct answers
    </dt>
    <dd>
      <%= @the_game.correct_answers %>
    </dd>

    <dt>
      Incorrect answers
    </dt>
    <dd>
      <%= @the_game.incorrect_answers %>
    </dd>

    <dt>
      Difficulty
    </dt>
    <dd>
      <%= @the_game.difficulty %>
    </dd>

    <dt>
      User
    </dt>
    <dd>
      <%= @the_game.user_id %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_game.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_game.updated_at) %> ago
    </dd>
  </dl>
</div>
