<p class="display-6 pt-3">
  Test your knowledge
</p>

<hr>
<form action="/score/<%= @the_game.id %>" method="post">
  <% @questions.each_with_index  do |question, index| %>
    <legend class="fs-5">Question <%= index + 1 %></legend>
    <p><%= question.challenge %></p>
    <div class="form-check pb-4">
      

      <div>
        <div class="options">
          <input type="radio" id="option_<%= index %>a" name="answers[<%= question.id %>]" value="a" class="form-check-input">
          <label for="option_<%= index %>a">
            a. <%= question.option_a %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>b" name="answers[<%= question.id %>]" value="b" class="form-check-input">
          <label for="option_<%= index %>b">
            b. <%= question.option_b %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>c" name="answers[<%= question.id %>]" value="c" class="form-check-input">
          <label for="option_<%= index %>c">
            c. <%= question.option_c %>
          </label>
        </div>

        <div class="options">
          <input type="radio" id="option_<%= index %>d" name="answers[<%= question.id %>]" value="d" class="form-check-input">
          <label for="option_<%= index %>d">
            d. <%= question.option_d %>
          </label>
        </div>

      </div>
    </div>
  <% end %>

  <div>
    <button class="btn btn-primary">
      Submit answers
    </button>
  </div>
</form>
